apiVersion: v1
kind: Pod
metadata:
  name: sonarqube
  namespace: devops
  labels:
    app: sonarqube
spec:
  containers:
    - name: sonarqube
      image: sonarqube:9.9-community
      ports:
        - containerPort: 9000
      env:
        - name: SONAR_ES_BOOTSTRAP_CHECKS_DISABLE
          value: "true"
      resources:
        requests:
          memory: "1Gi"
          cpu: "500m"
        limits:
          memory: "2Gi"
          cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
  namespace: devops
spec:
  selector:
    app: sonarqube
  ports:
    - port: 9000
      targetPort: 9000
  type: ClusterIP
